{% extends 'admin_question.html' %}
{% load staticfiles %}
{% block title %}添加题目{% endblock %}
{% block sub_css %}
    <link href="{% static 'css/admin_account.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"/>
    <style>
        ul {
            list-style-type: none
        }

        img {
            width: 200px;
            height: 200px;
        }

        textarea {
            resize: none;
        }
    </style>
{% endblock %}
{% block sub_js %}
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript">
        window.onload = function () {
            a = document.getElementById("upload");
            a.classList.add('active');
            a.innerHTML = '<a href="{% url 'admin_account' %}">添加题目</a><span class="sr-only">(current)</span>';
            document.getElementsByClassName("row").Id = 'containment-wrapper'
        }
    </script>
    <script>
        function Uploadjq() {
            var dic = new FormData();
            dic.append('target', 'fileupload');
            dic.append('fafafa', document.getElementById('img').files[0]);
            meesage = $.ajax({

                url: '{% url 'question_upload' %}',
                type: 'POST',
                data: dic,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                dataType: 'JSON',
                success: succFunction,
            });

            function succFunction(tt) {
                alert(tt);
            }
        }
    </script>
    <script>
        var steml = 0;
        var mains = 0;
        var choice = 0;

        function add_stemtxt() {
            steml++;
            var inhtml = $("<li></li>").html(
                "<textarea id='" + "txtstem" + steml + "' style='width:500px; height:200px;'></textarea>" +
                "<span onclick=\"delete_stem(\'" + "txtstem" + steml + "\')\" class=\"glyphicon glyphicon-remove\"></span>"
            );
            $("#endstem").before(inhtml);
        }

        function add_stemimg() {
            steml++;
            var inhtml = $("<li></li>").html(
                "<input id='" + "imgstem" + steml +
                "' onchange=\"changepic(this)\" type='file' accept=\"image/jpg,image/jpeg,image/png,image/PNG\"/> " +
                "<img id=\"preimgstem" + steml + "\" src=\" {% static 'img/plus.jpg' %}\"  class=\"img-fluid\" alt=\"Responsive image\">" +
                "<span onclick=\"delete_stem(\'" + "imgstem" + steml + "\')\" class=\"glyphicon glyphicon-remove\"></span>"
            );
            $("#endstem").before(inhtml);
        }

        function add_Mainsolution_txt() {
            mains++;
            var inhtml = $("<li></li>").html(
                "<textarea id='" + "txtsolu" + mains + "' style='width:500px; height:200px;'></textarea>" +
                "<span onclick=\"delete_stem(\'" + "txtsolu" + mains + "\')\" class=\"glyphicon glyphicon-remove\"></span>"
            );
            $("#endsolu").before(inhtml);
        }

        function add_Mainsolution_img() {
            mains++;
            var inhtml = $("<li></li>").html(
                "<input id='" + "imgsolu" + mains +
                "' onchange=\"changepic(this)\" type='file' accept=\"image/jpg,image/jpeg,image/png,image/PNG\"/>" +
                "<img id=\"preimgsolu" + mains + "\" src=\" {% static 'img/plus.jpg' %}\"  class=\"img-fluid\" alt=\"Responsive image\">" +
                "<span onclick=\"delete_stem(\'" + "imgsolu" + mains + "\')\" class=\"glyphicon glyphicon-remove\"></span>>"
            );
            $("#endsolu").before(inhtml);
        }

        function add_choice() {
            choice++;
            var inhtml = $("<li></li>").attr({"id": "choice" + choice, "class": "choice"});
            inhtml.html(
                "<ul>" +
                "<li id=\"endchoice" + choice + "\"><span onclick=\"add_choicetxt(" + choice + ")\" class=\"glyphicon glyphicon-plus\">添加文本选项   </span></li>" +
                "            <li><span onclick=\"add_choiceimg(" + choice + ")\" class=\"glyphicon glyphicon-plus\">添加图片选项   </span></li>" +
                "<li><span onclick=\"delete_choice(" + choice + ")\" class=\"glyphicon glyphicon-remove\">删除选项   </span></li>" +
                "</ul>");
            $("#choice").append(inhtml);
            inhtml = $("<li></li>").attr({"id": "choice_tips" + choice, "class": "choice_tips"});
            inhtml.html(
                "<ul>" +
                "<li id=\"endchoice_tips" + choice + "\"><span onclick=\"add_choice_tips_txt(" + choice + ")\" class=\"glyphicon glyphicon-plus\">添加文本提示   </span></li>" +
                "            <li><span onclick=\"add_choice_tips_img(" + choice + ")\" class=\"glyphicon glyphicon-plus\">添加图片提示   </span></li>" +
                "</br>" +
                "</ul>");
            $("#choice_tips").append(inhtml);
        }

        function delete_choice(num) {
            $("#choice" + num).remove();
            $("#choice_tips" + num).remove();
        }

        function delete_stem(id) {
            console.log(id);
            $("#" + id).parent().remove();
        }


        function add_choicetxt(num) {
            var inhtml = $("<li></li>").html("<textarea id='" + "txtchoice" + num + "' style='width:300px; height:100px;'></textarea>");
            var a = $("#endchoice" + num);
            a.before(inhtml);
            inhtml = $("<li></li>").html("<input id='" + "choicecorrect" + num + "'type='checkbox' value=\"True\"/>");
            a.before(inhtml);
            a.next().remove();
            a.remove()
        }

        function add_choiceimg(num) {
            var inhtml = $("<li></li>").html(
                "<input id='" + "imgchoice" + num +
                "' onchange=\"changepic(this)\" type='file' accept=\"image/jpg,image/jpeg,image/png,image/PNG\"/> " +
                "<img id=\"preimgchoice" + num + "\" src=\" {% static 'img/plus.jpg' %}\">"
            );
            var a = $("#endchoice" + num);
            a.before(inhtml);
            inhtml = $("<li></li>").html("<input id='" + "choicecorrect" + num + "'type='checkbox' value=\"True\"/>");
            a.before(inhtml);
            a.next().remove();
            a.remove()
        }

        function add_choice_tips_txt(num) {
            var inhtml = $("<li></li>").html("<textarea id='" + "txtchoice_tips" + num + "' style='width:300px; height:100px;'></textarea>" + "</br></br>");
            var a = $("#endchoice_tips" + num);
            a.before(inhtml);
            a.next().remove();
            a.remove()
        }

        function add_choice_tips_img(num) {
            var inhtml = $("<li></li>").html(
                "<input id='" + "imgchoice_tips" + num +
                "' onchange=\"changepic(this)\" type='file' accept=\"image/jpg,image/jpeg,image/png,image/PNG\"/> " +
                "<img id=\"preimgchoice_tips" + num + "\" src=\" {% static 'img/plus.jpg' %}\">" + "</br></br>"
            );
            var a = $("#endchoice_tips" + num);
            a.before(inhtml);
            a.next().remove();
            a.remove()
        }

        function changepic(obj) {
            console.log(obj.files[0]);//这里可以获取上传文件的name
            console.log("#pre" + obj.id);
            a = $("#" + obj.id);

            if (obj.files[0] === undefined)
                url = "{% static 'img/plus.jpg' %}";
            else url = URL.createObjectURL(obj.files[0]);
            a.next().attr({"src": url});


            console.log(a);
        }

        function Upload_form() {
            var dic = new FormData();
            var flag = 0;
            dic.append('target', 'formupload');
            var a = $("#stem").children("li");
            var stem_length = a.length - 3;
            if (!stem_length)//no stem
            {
                alert("请添加题干");
                return;
            }
            dic.append('groups', $("#groupsInput").value);
            dic.append('id', a.get(0).firstChild.value);
            dic.append('stem_length', stem_length);
            var b;
            for (var i = 1; i <= stem_length; i++) {
                b = a.get(i).firstChild;
                console.log(b.id, b.value);
                c = $(b).parent().children().last();
                if (b.value === "") {
                    flag = 1;
                }
                if (b.tagName === "TEXTAREA") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        var inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("txtstem" + (i - 1), b.value);
                    }

                } else if (b.tagName === "INPUT") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("imgstem" + (i - 1), "imgstem" + (i - 1));
                        dic.append("imgstem" + (i - 1), b.files[0]);
                    }
                }
            }


            //solution
            a = $("#solu").children("li");
            var solu_length = a.length - 2;
            dic.append('solu_length', solu_length);
            for (i = 0; i < solu_length; i++) {
                b = a.get(i).firstChild;
                console.log(b.id, b.value);
                c = $(b).parent().children().last();
                if (b.value === "") {
                    flag = 1;
                }
                if (b.tagName === "TEXTAREA") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("txtsolu" + i, b.value);
                    }

                } else if (b.tagName === "INPUT") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("imgsolu" + i, "imgsolu" + i);
                        dic.append("imgsolu" + i, b.files[0]);
                    }
                }
            }

            //choice
            a = $("#choice").children("li");
            var choice_length = a.length;
            dic.append('choice_length', choice_length);
            for (i = 0; i < choice_length; i++) {
                b = a.get(i).firstChild.firstChild;
                if (!(b.id.search(/endchoice/i) === -1)) {
                    if (!($("#" + b.id + "alert").length > 0)) {
                        inhtml = $("<b></b>").html("未描述选项");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b.firstChild).append(inhtml);
                    }
                    flag = 1;
                    continue;
                }
                dic.append("choice" + i, $(b).next().children().last().prop("checked"));
                b = b.firstChild;
                c = $(b).parent().children().last();
                if (b.value === "") {
                    flag = 1;
                }
                if (b.tagName === "TEXTAREA") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("txtchoice" + i, b.value);
                    }

                } else if (b.tagName === "INPUT") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("imgchoice" + i, "imgchoice" + i);
                        dic.append("imgchoice" + i, b.files[0]);
                    }
                }
            }

            //tips
            var a_tips = $("#choice_tips").children("li");
            for (i = 0; i < choice_length; i++) {
                b = a_tips.get(i).firstChild.firstChild;
                console.log(b.id);
                if (!(b.id.search(/endchoice_tips/i) === -1)) {
                    dic.append("choice_tips" + i, "");
                    continue;
                }
                b = b.firstChild;
                var c = $(b).parent().children().last();
                if (b.value === "") {
                    flag = 1;
                }
                if (b.tagName === "TEXTAREA") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("txtchoice_tips" + i, b.value);
                    }

                } else if (b.tagName === "INPUT") {
                    if (b.value === "" && !(c.attr("id") === b.id + "alert")) {
                        inhtml = $("<p></p>").html("<b>请添加内容</b>");
                        inhtml.attr({"id": b.id + "alert"});
                        $(b).parent().append(inhtml);
                    } else if (!(b.value === "")) {
                        if (c.attr("id") === b.id + "alert")
                            c.remove();
                        dic.append("imgchoice_tips" + i, "imgchoice_tips" + i);
                        dic.append("imgchoice_tips" + i, b.files[0]);
                    }
                }
            }
            console.log(flag);
            if (flag === 0)
                $.ajax({
                    url: '{% url 'question_upload' %}',
                    type: 'POST',
                    data: dic,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    dataType: 'JSON',
                    success: succFunction,
                });
            else if (flag === 1) {
                alert("提交失败");
            }

            function succFunction(message) {
                if (message === '表单提交成功')
                    alert(message);
                window.location.href = "{% url 'question_all' 0 0%}";
            }
        }
    </script>
{% endblock %}
{% block inner_content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #5bc0de">

        <input type="file" id="img"/>
        <input type="button" value="提交JQ" onclick="Uploadjq()"/>
        <input type="button" value="下载样例" onclick="window.location.href='{% url 'download_account' %}'"/>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main form-group">
        <label for='groupsInput' class="col-sm-2 control-label">
            分组
        </label>
        <div class="col-sm-5">
            <select name='groups' class="form-control" id="groupsInput">
                <option value="第一章">第一章</option>
                <option value="第二章">第二章</option>
            </select>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #dca7a7">


        <ul id="stem">
            <li><input type="hidden" value="dfb"></li>
            <li id="endstem"><span onclick="add_stemtxt()" class="glyphicon glyphicon-plus">添加文本题干   </span></li>
            <li><span onclick="add_stemimg()" class="glyphicon glyphicon-plus">添加图片题干   </span></li>
        </ul>
        <ul id="solu">
            <li id="endsolu"><span onclick="add_Mainsolution_txt()" class="glyphicon glyphicon-plus">添加文字解答 </span></li>
            <li><span onclick="add_Mainsolution_img()" class="glyphicon glyphicon-plus">添加图片解答   </span></li>
        </ul>
    </div>
    <div id="choice_list" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
         style="background-color: #4cae4c">
        <div class="row">
            <div class="col-sm-3  col-md-5  " style="background-color: #5bc0de">
                <ol id="choice">

                </ol>
            </div>
            <div class="col-sm-3 col-md-5 " style="background-color: #dca7a7">
                <ol id="choice_tips">

                </ol>
            </div>
        </div>
        <span onclick="add_choice()" class="glyphicon glyphicon-plus">添加选项   </span>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="background-color: #4cae4c">
        <input type="button" value="提交JQ" onclick="Upload_form()" style="margin-left: 200px">
    </div>
{% endblock %}