
.userimg{
    width:30px;
    height:30px;
    margin:auto;
    padding-bottom: 0px;
    padding-top: 0px;
    border-width:0px;
    font-size: 40px;

}
.basedown{
    width:40px;
    height:40px;
    top:0px;
}
.footer{
      padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.footer p:last-child{
    margin-bottom: 0;
}